{% import 'macros/images' as imageMacros %}

{% set transform = transform ?? 'section' %}
{% set image = image ?? null %}
{% set caption = caption ?? null %}
{% set display = display ?? 'contain' %} {# contain | inset #}
{% set autoHeight = autoHeight ?? false %}

{% if image %}
    <figure class="{{ display == 'inset' ? 'w-2/3 mx-auto' }}">
        <div class="rounded-xl overflow-hidden">
            {{
                imageMacros.imagerSrcset(
                    image,
                    'fullwidth-' ~ transform ~ '-' ~ display ~ (autoHeight ? '-auto'),
                    {
                        classes: 'hidden md:block w-full h-full object-cover object-center'
                    }
                )
            }}

            {{
                imageMacros.imagerSrcset(
                    image,
                    'fullwidth-mobile' ~ (autoHeight ? '-auto'),
                    {
                        classes: 'md:hidden w-full h-full object-cover object-center'
                    }
                )
            }}
        </div>

        {% if caption %}
            <figcaption class="copy mt-2 italic">
                {{ caption }}
            </figcaption>
        {% endif %}
    </figure>
{% endif %}
