{% set defaults = {
    video: null,
    caption: ''
} %}

{% set self = self is defined ? defaults|merge(self) : defaults %}
{% if self.video %}
    <figure class="" data-theme="overlay">
        <div class="video">
            {% include '_atoms/video-embed' with {
                video: self.video,
                autoplay: false
            } %}
        </div>

        {% if self.caption %}
            <figcaption style="font-family:'Lato',sans-serif; font-size:13px; font-style:italic; color:rgba(17,34,80,0.45); margin-top:12px; letter-spacing:0.02em;">
                {{ self.caption }}
            </figcaption>
        {% endif %}
    </figure>
{% endif %}
