<section class="bg-cream section-pad">
    <article class="container-lg">
        {% block article %}
            {% include 'blocks/contentBlocks' %}
        {% endblock %}
    </article>
</section>
