<div class="cb-accordion-group">
    {% for item in items %}
        {% embed '_molecules/accordion'
            with {
                heading: item.heading
            }
        %}
            {% block main %}
                <div class="richtext">
                    {{ item.richText|raw }}
                </div>

                {% if item.links %}
                    {% include '_molecules/links' with {
                        style: 'pill',
                        links: item.links
                    } %}
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endfor %}
</div>
