{% import 'macros/images' as imageMacros %}

{% set images = images ?? block.images.all %}
{% set galleryId = galleryId ?? ('gallery-' ~ random(1000)) %}

<div class="swiper image-carousel">
    <ul class="swiper-wrapper">
        {% for image in images %}
            <li class="swiper-slide !h-auto">
                {% include '_atoms/image' with {
                    self: {
                        image: image,
                        galleryId: galleryId,
                        type: 'gallery-carousel'
                    }
                } %}
            </li>
        {% endfor %}
    </ul>
</div>
